/*

STYLESHEET FOR:     MISOFONIE APP
AUTHOR:             EMIEL ZUURBIER / SJOERD RODERS / JELLE BOT
CLIENT:             AMC
EDUCATION:          CMD AMSTERDAM
GITHUB REPO:        https://github.com/EmielZuurbier/AMC-Misofonie-App
VERSION:            0.13.02.12.15

*/



/*
KLEUREN
-------

ACCENT 1:       #00baff;
ACCENT 2:       #a3daff;
HEADER:         #999999;
FONT:           #777777;
FONT ACCENT:    #343434;
ACHTERGROND 1:  #F9F9F9;
ACHTERGROND 2:  #F4F4F4;

BODY FONT:      AVENIR BOOK

*/


@font-face {
    font-family: 'Avenir';
    src: '../fonts/Avenir.ttc';
}


/* ------------------------------------------------------------------------ GENERAL ----------------- */

html,
body { 
    width: 100%; 
    height: 100%;
}

body { 
    overflow-x: hidden;
    background-color: #f4f4f4;
    background-repeat: repeat;
    background-size: 40px;
    font-family: 'Avenir';
}

h1, h2, h3, h4 {
    color: #343434;
    font-weight: 100;
}

p { 
    color: #777777;
    font-size: 1em;
    font-weight: 100;
}

b, strong { 
    color: #343434; 
}

a { 
    color: #00baff; 
}

.btn {
    background-color: #00baff;
    color: #f9f9f9;
    border: 2px solid #00baff;
    border-radius: 0;
}

.btn:hover {
    background-color: #0398d0;
    color: #f9f9f9;
    border: 2px solid #0398d0;
}

.btn-tall {
    padding-top: 30px;
    padding-bottom: 30px;
}

progress {
    display: block;
    width: 100%;
    margin: 15px 0 0 0;
    color: #00baff;
}

progress::-webkit-progress-value {
    background: #00baff;
}

progress::-moz-progress-value {
    background: #00baff;
}

progress::progress-value {
    background: #00baff;
}


/* -------------------- NAV --------------------- */

nav  { 
    display: block; 
    position: fixed; 
    width: 200px; 
    height: 100%; 
    top: 0; 
    left: -100%; 
    background-color: #ffffff;
    border-right: 1px solid #e7e7e7;
    z-index: 2; 
    opacity: 0; 
    -webkit-transition: .5s; 
    -moz-transition: .5s;
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
}

nav.open { 
    left: 0;
    z-index: 99 !important; 
    opacity: 1 !important; 
}

.nav-header { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    height: auto; 
    float: left; 
    padding: 18px 15px; 
    background-color: #f7f7f7;  
}

.nav-header img { 
    display: block; 
    margin: 0; 
    height: 100%; 
    float: left; 
}

.nav-header p { 
    display: block; 
    float: left; 
    line-height: 1em; 
    margin: 0; 
    font-weight: 900; 
    text-transform: uppercase;
}

.nav-list { 
    display: block; 
    width: 100%; 
    height: auto; 
    float: left; 
    padding: 15px 0px 35px 0px;
}

.nav-list ul { 
    padding: 0; 
}

.nav-list ul li { 
    list-style: none; 
    width: 100%; 
    margin: 0 0 3px 0; 
}

.nav-list ul li a { 
    display: block; 
    width: 100%; 
    height: auto; 
    padding: 15px; 
    text-transform: uppercase; 
}

/* ------------------- HEADER -------------------- */

.header { 
    display: block;
    position: fixed; 
    width: 100%; 
    height: auto; 
    float: left; 
    left: 0px;
    margin-bottom: 10px;
    background-color: #00baff; 
    border-bottom: 1px solid #f1f1f1;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
    z-index: 2;
}

.header.open {
    left: 200px;
}

#nav-button {
    display: block;
    width: auto;
    height: 52px;
    float: left; 
    padding: 15px 15px 0 15px;
    position: relative;
}

#settings-button {
    display: block;
    width: auto;
    height: auto;
    float: right;
}

#nav-button i, #settings-button i { 
    color: #f9f9f9;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;
}

#nav-icon {
    width: 25px;
    height: auto;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #f9f9f9;;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon {
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 15px;
    left: 8px;
}

/* -------------------- MAIN -------------------- */

main { 
    display: block; 
    position: relative; 
    float: left; 
    left: 0; 
    width: 100%; 
    height: auto; 
    margin-top: 60px;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
    z-index: 1; 
}

main.open { 
    left: 200px;
}

.context-button {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 4;
}

.context-button-icon {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #00baff;
    border-radius: 50%;
    padding: 19px 20px;
    box-shadow: 0px 4px 10px #999999;
    cursor: pointer;
    z-index: 6;
}

.context-button-icon:hover, .context-button-icon:active {
    background-color: #0398d0;
}

.context-button-icon i {
    font-size: 25px;
    color: #f9f9f9;
    transform-origin: 50% 50%;
}

.context-button-option {
    display: block;
    width: 200px;
    padding: 0;
    background-color: #00baff;
    position: absolute;
    right: 0px;
    bottom: 60px;
    opacity: 1;
    z-index: 5;
    box-shadow: 0px 4px 10px #999999;
    border-radius: 5px;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
}

.context-button-option::after {
    position: absolute;
    bottom: -8px;
    right: 22px;
    content: " ";
    width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #00baff;
}

.context-button-option.ng-hide-add, .context-button-option.ng-hide-remove {
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
}

.context-button-option.ng-hide {
    opacity: 0;
    bottom: 40px;
}

.context-button-option li {
    list-style: none;
}

.context-button-option li:nth-of-type(even) {
    background-color: #0398d0;
}

.context-button-option button {
    display: block;
    width: 100%;
    padding: 15px;
    color: #f9f9f9;
    background: transparent;
    border: 0;
    text-align: left;
}

/* -------------------- VIEWS -------------------- */

.view {
    position: absolute;
    width: 100%;
    left: 0;
    height: auto;
    float: left;
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    -ms-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s; 
}

.card {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 5px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
/*    border: 1px solid #f1f1f1;*/
    float: left;
    box-shadow: 0px 1px 8px #d6d6d6;
}

.card-left {
    display: block;
    width: calc(50% - 7.5px);
    height: auto;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 15px;
/*    border: 1px solid #f1f1f1;*/
    float: left;
    box-shadow: 0px 1px 8px #d6d6d6;
}

.card-right {
    display: block;
    width: calc(50% - 7.5px);
    height: auto;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
/*    border: 1px solid #f1f1f1;*/
    float: left;
    box-shadow: 0px 1px 8px #d6d6d6;
}

.card-header {
    display: block;
    background-color: #ffffff;
    color: #999999;
    width: 100%;
    float: left;
    padding: 15px 15px 10px 15px;
    text-transform: uppercase;
    font-size: 1em;
}

.card-header p, .card-header h2, .card-header h3, .card-header h4 {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    margin: 0;
}

.card-header p i, .card-header h2 i, .card-header h3 i, .card-header h4 i {
    color: #00baff;
    margin-right: 5px;
}

.card-ellips {
    display: inline-block;
    float: right;
    color: #999999;
    padding-left: 15px;
}

.card-body {
    display: block;
/*    background-color: #f9f9f9;*/
    background-color: #ffffff;
    width: 100%;
    float: left;
}

.card-body-left {
    display: block;
    width: calc(50% - 7.5px);
    height: 100%;
    margin-right: 15px;
    float: left;
}

.card-body-right {
    display: block;
    width: calc(50% - 7.5px);
    height: 100%;
    float: left;
}

.card-footer {
    display: block;
    background-color: #f1f1f1;
    width: 100%;
    float: left;
}

.card-padding {
    padding: 10px 15px;
}

.card-add {
    position: relative;
    background-color: #f1f1f1;
    height: 100px;
}

.card-add i {
    font-size: 50px;
    color: #d7d7d7;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.card-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.card-image-round {
    border-radius: 50%;
}

form .card:first-of-type {
    margin-top: 5px;
}


/* ------------------------------- FORM ---------------------------------- */

form {
    padding-bottom: 15px;
}

.form-float-right {
    display: inline-block;
    float: right;
}

.form-float-left {
    display: inline-block;
    float: left;
}


/* ------------------------------- CHECKBOX ---------------------------------- */

.onoffswitch {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 0px solid #FFFFFF; border-radius: 30px;
    background-color: #f7f7f7;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: -5px;
    background: #00BAFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border-radius: 30px;
/*    box-shadow: 0 6px 12px 0px #757575;*/
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #60CFF8;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #60CFF8;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
    background-color: #00BAFF; 
/*    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);*/
}




/* --------------------------------------------------------------------- ANIMATIONS ----------------- */

.view.ng-leave { 
    -webkit-animation: slideOut 0.5s both ease-in;
    -moz-animation: slideOut 0.5s ease-in;
    animation: slideOut 0.5s ease-in; 
    z-index: 9999; 
}

.view.ng-enter { 
    -webkit-animation: scaleIn 1s ease-in-out;
    -moz-animation: scaleIn 1s ease-in-out; 
    animation: scaleIn 1s ease-in-out;
    z-index: 8888; 
}

@-webkit-keyframes scaleIn {
    0%      { opacity: 0; }
    50%     { opacity: 0; }
    100%    { opacity: 1; -webkit-transform: scale(1); }
}

@-webkit-keyframes slideOut {
    from    { opacity: 1; }
    to      { opacity: 0; }
/*
    from    { -webkit-transform: translateX(0%); }
    to      { -webkit-transform: translateX(-100%); }
    
*/
}

@keyframes scaleIn {
    0%      { opacity: 0; }
    50%     { opacity: 0; }
    100%    { opacity: 1; -webkit-transform: scale(1); }
}

@keyframes slideOut {
    from    { opacity: 1; }
    to      { opacity: 0; }
/*
    from    { transform: translateX(0%); }
    to      { transform: translateX(-100%); }
    
*/
}

/* -------------------------------------------------------------------- MEDIA QUERY ----------------- */







