<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <div class="card">
                <div class="card-header">
                    <h2><i class="fa fa-medkit"></i> Oefeningen</h2>
                </div>
                <div class="card-body">
                    <img class="img-responsive" src="http://placehold.it/500x250"/>
                </div>
            </div>
            
            <div class="card-left">
                <div class="card-header">
                    <h2>Oefening 1</h2>
                </div>
                <div class="card-body card-padding">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="card-footer">
                    <a href="#info" type="button" class="btn btn-block">Lees meer</a>
                </div>
            </div>
            
            <div class="card-right">
                <div class="card-header">
                    <h2>Oefening 2</h2>
                </div>
                <div class="card-body card-padding">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="card-footer">
                    <a href="#info" type="button" class="btn btn-block">Lees meer</a>
                </div>
            </div>
            
            <div class="card-left">
                <div class="card-header">
                    <h2>Oefening 3</h2>
                </div>
                <div class="card-body card-padding">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="card-footer">
                    <a href="#info" type="button" class="btn btn-block">Lees meer</a>
                </div>
            </div>
            
            <div class="card-right">
                <div class="card-header">
                    <h2>Oefening 4</h2>
                </div>
                <div class="card-body card-padding">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="card-footer">
                    <a href="#info" type="button" class="btn btn-block">Lees meer</a>
                </div>
            </div>
            
        </div>
    </div>
</div>