<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <!-- REPEAT CARDSACTIVE -->
            <div class="card-view" data-ng-repeat="card in cardsActive track by $index" >
                <div data-ng-include="card.url"></div>
            </div>
            
        </div>
    </div>
</div>

<div class="context-button">
    <div data-ng-click="contextShow=!contextShow" class="context-button-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="94px" height="94px" viewBox="0 0 94 94" version="1.1">
            <!-- Generator: Sketch 3.4.3 (16618) - http://www.bohemiancoding.com/sketch -->
            <defs/>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <path d="M94,40.2857143 L53.7142857,40.2857143 L53.7142857,0 L40.2857143,0 L40.2857143,40.2857143 L0,40.2857143 L0,53.7142857 L40.2857143,53.7142857 L40.2857143,94 L53.7142857,94 L53.7142857,53.7142857 L94,53.7142857 L94,40.2857143 L94,40.2857143 Z" id="Shape" fill="#FFFFFF" sketch:type="MSShapeGroup"/>
            </g>
        </svg>
    </div>
    <ul data-ng-show="contextShow" class="context-button-option" >
        <li data-ng-repeat="card in cards">
            <button data-ng-click="addCard({{$index}})" data-ng-class="{{ card.classcard }}button">{{ card.name }}</button>
        </li>
    </ul>
</div>

