<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <div class="card">
                <div class="card-body">
                    <div class="card-body-left card-padding">
                        <img class="card-image card-image-round" src="http://placehold.it/100x100"/>
                    </div>
                    <div class="card-body-right">
                        <h2>John Doe</h2>
                        <p>johndoe@email.com</p>
                    </div>
                </div>
            </div>
            
            <form role="form" class="form-horizontal">
                <div class="card">
                    <div class="card-header">
                        <h3><i class="fa fa-gear"></i> Misofonie Instellingen</h3>
                    </div>
                    <div class="card-body card-padding">
                        <h4>Algemeen</h4>
                        <fieldset>
                            <div class="form-float-left">
                                <p>Ik heb zelf misofonie</p>
                            </div>
                            <div class="form-float-right">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch"></label>
                                </div>
                            </div>
                        </fieldset>
                        <h4>Voorkeuren</h4>
                        <h5>Vergeleken met anderen ben ik gevoelig voor:</h5>
                        <fieldset>
                            <div class="checkbox">
                                <label><input type="checkbox" value="eetgeluiden"> Eetgeluiden</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="nasalegeluiden"> Nasale geluiden</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="keelgeluiden"> Keelgeluiden</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="klankgeluiden"> Bepaalde klanken</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="tikgeluiden"> Herhaaldelijk tikken</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="geritselgeluiden"> Geritsel</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="Omgevingsgeluiden"> Omgevingsgeluiden</label>
                            </div>
                        </fieldset>
                        <br>
                        <h5>Welke emoties roepen deze geluiden bij u op?</h5>
                        <fieldset>
                            <div class="checkbox">
                                <label><input type="checkbox" value="eetgeluiden"> Irritatie</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="nasalegeluiden"> Woede</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="keelgeluiden"> Walging</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="klankgeluiden"> Anders, namelijk:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3><i class="fa fa-gear"></i> Screening Instellingen</h3>
                    </div>
                    <div class="card-body card-padding">
                        <h4>Hoe vaak wilt u de volgende testen uitvoeren?</h4>
                        <fieldset>
                            <div class="form-group">
                                <div class="form-float-left">
                                    <label for="sel1">Amisos</label>
                                </div>
                                <div class="form-float-right">
                                    <select class="form-control" id="sel1">
                                        <option>Dagelijks</option>
                                        <option>Wekelijks</option>
                                        <option selected="selected">Maandelijks</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-float-left">
                                    <label for="sel2">Moodmeter</label>
                                </div>
                                <div class="form-float-right">
                                    <select class="form-control" id="sel2">
                                        <option>3x per dag</option>
                                        <option>2x per dag</option>
                                        <option selected="selected">Dagelijks</option>
                                        <option>Wekelijks</option>
                                        <option>Maandelijks</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-float-left">
                                    <label>Mag het AMC gebruik maken van uw gegevens?</label>
                                </div>
                                <div class="form-float-right">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                        <label class="onoffswitch-label" for="myonoffswitch"></label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-block">Opslaan</button>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>