<div class="custom-card-profile">
    <div class="card-body">
        <img class="card-image card-image-round" src="http://placehold.it/100x100"/>
        <h2>Jan Hertogh</h2>
        <p>dagen app gebruikt: 30 | oefeningen voltooid: 26</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Gegevens</h3>
                </div>
                <div class="card-body card-padding">
                    <p>Naam: Jan Hertogh</p>
                    <p>Email: jan@janhertogh.nl</p>
                    <p>Wachtwoord: &#8226;&#8226;&#8226;&#8226;&#8226;&#8226;</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <h3>Oefeningen</h3>
                </div>
                <div class="card-body card-padding">
                    <div data-ng-repeat="card in cardsProfiel | limitTo:3">
                        <p> {{ card.name }} </p>
                    </div>
                </div>
            </div>
            
            <form role="form" class="form-horizontal">
                <div class="card">
                    <div class="card-header">
                        <h3><i class="fa fa-gear"></i> Misofonie Instellingen</h3>
                    </div>
                    <div class="card-body card-padding">
                        <h4>Algemeen</h4>
                        <fieldset>
                            <md-switch data-ng-model="setting.x" aria-label="Switch 1">
                                Ik heb zelf misofonie
                            </md-switch>
                        </fieldset>
                        <h4 data-ng-show="setting.x">Voorkeuren</h4>
                        <h5 data-ng-show="setting.x">Vergeleken met anderen ben ik gevoelig voor:</h5>
                        <fieldset data-ng-show="setting.x">
                            <md-checkbox data-ng-model="setting.a" aria-label="Checkbox 1">
                                Eetgeluiden
                            </md-checkbox>
                            <md-checkbox data-ng-model="setting.b" aria-label="Checkbox 1">
                                Nasale Geluiden
                            </md-checkbox>
                            <md-checkbox data-ng-model="setting.c" aria-label="Checkbox 1">
                                Keelgeluiden
                            </md-checkbox>
                            <md-checkbox data-ng-model="setting.d" aria-label="Checkbox 1">
                                Bepaalde Klanken
                            </md-checkbox>
                            <md-checkbox data-ng-model="setting.e" aria-label="Checkbox 1">
                                Herhaaldelijke Tikken
                            </md-checkbox>
                            <md-checkbox data-ng-model="setting.f" aria-label="Checkbox 1">
                                Geritsel
                            </md-checkbox>
                            <md-checkbox data-ng-model="setting.g" aria-label="Checkbox 1">
                                Omgevingsgeluiden
                            </md-checkbox>
                        </fieldset>
                        <br>
                        <h5 data-ng-show="setting.x">Welke emoties roepen deze geluiden bij u op?</h5>
                        <fieldset data-ng-show="setting.x">
                            <md-checkbox data-ng-model="setting.h" aria-label="Checkbox 1">
                                Irritatie
                            </md-checkbox>
                            <md-checkbox data-ng-model="setting.i" aria-label="Checkbox 1">
                                Woede
                            </md-checkbox>
                            <md-checkbox data-ng-model="setting.j" aria-label="Checkbox 1">
                                Walging
                            </md-checkbox>
                            <md-checkbox data-ng-model="setting.k" aria-label="Checkbox 1">
                                Anders, namelijk:
                            </md-checkbox>
                            <textarea data-ng-show="setting.k" class="form-control" rows="5" id="comment"></textarea>
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3><i class="fa fa-gear"></i> Screening Instellingen</h3>
                    </div>
                    <div class="card-body card-padding">
                        <h4>Hoe vaak wilt u de volgende testen uitvoeren?</h4>
                        <fieldset>
                            <md-input-container>
                                <label>Amisos</label>
                                <md-select data-ng-model="setting.l">
                                    <md-option value="Dagelijks">Dagelijks</md-option>
                                    <md-option value="Wekelijks">Wekelijks</md-option>
                                    <md-option value="Maandelijks">Maandelijks</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>MoodMeter</label>
                                <md-select data-ng-model="setting.m">
                                    <md-option value="3x per dag">3x per dag</md-option>
                                    <md-option value="2x per dag">2x per dag</md-option>
                                    <md-option value="Dagelijks">Dagelijks</md-option>
                                    <md-option value="Wekelijks">Wekelijks</md-option>
                                    <md-option value="Maandelijks">Maandelijks</md-option>
                                </md-select>
                            </md-input-container>
                            <md-switch data-ng-model="setting.n" aria-label="Switch 1">
                                Mag het AMC gebruik<br> maken van uw gegevens?
                            </md-switch>
                        </fieldset>
                    </div>
                    <div class="card-footer">
                       
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                         <button type="submit" class="btn btn-block">Opslaan</button>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>