<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <div class="card">
                <div class="card-header blue">
                    <h2>Amisos</h2>
                </div>
            </div>
            
            <form role="form">
                
                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa fa-clock-o"></i> Vraag 1</h2>
                        <h3>Hoeveel tijd bent u per dag kwijt aan (gedachten over) de geluiden?</h3>
                    </div>
                    <div class="card-body card-padding">
                        <md-slider md-discrete aria-label="Amisos test" data-ng-model="dataN.a" data-ng-init="dataN.a = '2'" min="0" max="4" ></md-slider>
                        <datalist id="ticks">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </datalist>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa fa-volume-up"></i> Vraag 2</h2>
                        <h3>In welke mate bent u gefocust op de geluiden?</h3>
                    </div>
                    <div class="card-body card-padding">
                        <md-slider md-discrete aria-label="Amisos test" data-ng-model="dataN.b" data-ng-init="dataN.b = '2'" min="0" max="4"></md-slider>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa fa-microphone-slash"></i> Vraag 3</h2>
                        <h3>In welke mate ervaart u hinder bij het horen van de geluiden?</h3>
                    </div>
                    <div class="card-body card-padding">
                        <md-slider md-discrete aria-label="Amisos test" data-ng-model="dataN.c" data-ng-init="dataN.c = '2'" min="0" max="4"></md-slider>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa fa-microphone-slash"></i> Vraag 4</h2>
                        <h3>Hoeveel moeite heeft u de afgelopen week gedaan om uw aandacht te richten op iets anders dan misofoniegeluiden?</h3>
                    </div>
                    <div class="card-body card-padding">
                        <md-slider md-discrete aria-label="Amisos test" data-ng-model="dataN.d" data-ng-init="dataN.d = '2'" min="0" max="4"></md-slider>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa fa-microphone-slash"></i> Vraag 5</h2>
                        <h3>In welke mate slaagde u de afgelopen week er in om uw aandacht te richten op iets anders dan misofoniegeluiden?</h3>
                    </div>
                    <div class="card-body card-padding">
                        <md-slider md-discrete aria-label="Amisos test" data-ng-model="dataN.e" data-ng-init="dataN.e = '2'" min="0" max="4"></md-slider>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        <input type="submit" class="btn btn-block btn-tall" value="Klaar" data-ng-click="updateNewAmiData(dataN)">
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
</div>
