<div class="container">
    <div class="row">
        <div class="col-md-12"> 
            <h3>AMISO</h3>
            <form role="form">
                <div class="card">
                    <p><strong>Vergeleken met anderen ben ik gevoelig voor:</strong></p>
                    <p><i>(meerdere antwoorden mogelijk)</i></p>
                    <fieldset class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" value="eetgeluiden"> Eetgeluiden (bijv. kauwen, smakken, slurpen, slikken)</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="nasalegeluiden"> Nasale geluiden (bijv. snuffen, inademen, uitademen)</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="keelgeluiden"> Keelgeluiden (bijv. keelschrapen, kuchen)</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="klankgeluiden"> Bepaalde klanken (bijv. ‘k’ klanken)</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="tikgeluiden"> Herhaaldelijk tikken (bijv. met nagels op tafel, klikken van een pen)</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="geritselgeluiden"> Geritsel (bijv. papier, plastic)</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="Omgevingsgeluiden"> Omgevingsgeluiden (bijv. tikken van een klok of zoemende apparaten)
    </label>
                        </div>
                    </fieldset>
                </div>
                <div class="card">
                    <p><strong>Welke emotie roept het horen van deze geluiden bij u op?</strong></p>
                    <p><i>(meerdere antwoorden mogelijk)</i></p>
                    <fieldset class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" value="irritatie"> Irritatie</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="woede"> Woede</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="walging"> Walging</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="anders"> Anders, namelijk:</label>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
