<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fa fa-heartbeat"></i> Test je stress</h4>
                </div>
                <div class="card-body">
                    <a href="#test" type="button" class="btn btn-block">Start de test</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4><i class="fa fa-area-chart"></i> Resultaten</h4>
                </div>
                <div class="card-body">
                    <img class="img-responsive" src="http://placehold.it/500x250"/>
                    <div id="graph"></div>
                </div>
            </div>
            
            <div class="card-left">
                <div class="card-header">
                    <h4><i class="fa fa-stethoscope"></i> Titel</h4>
                </div>
                <div class="card-body card-padding">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
                </div>
            </div>
            
            <div class="card-right">
                <div class="card-header">
                    <h4><i class="fa fa-chain-broken"></i> Titel</h4>
                </div>
                <div class="card-body card-padding">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <h4><i class="fa fa-user-md"></i> Card</h4>
                </div>
                <div class="card-body card-padding">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                    <p>Nulla consequat massa quis enim.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <h4><i class="fa fa-list"></i> Tabs</h4>
                </div>
                <div class="card-body">
                   
                </div>
            </div>
            
        </div>
    </div>
</div>