<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <div class="card">
                <div class="card-header blue">
                    <h2>Bibliotheek</h2>
                </div>
            </div>
            
            <!-- REPEAT CARDSACTIVE -->
            <div class="card-view" data-ng-repeat="card in cardOefeningen track by $index" >
                <div class="card">
                    <a href="#/bibliotheek/{{$index}}">
                        <div class="card-header">
                            <h4> {{ card.name }} </h4>
                        </div>
                        <div class="card-body card-padding">
                            <p> {{ card.desc }} </p>
                            <p><i class="fa fa-heart"></i> {{ card.likes }} </p>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
